<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HRD Article Management System</title>
<!--  Boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:replace="fragments/navBarFrag :: navBar" ></div>



<!--Table -->
<div    class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Images</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" article : ${articleList}" >
            <th  th:text=" ${ article.id } ">1</th>
            <td  th:text="${ article.title }" >Mark</td>
            <td th:text="${ article.description }"  style="word-break:break-word ; max-width: 200px " >Otto</td>
            <td  th:text="${article.imageUrl}">@mdo</td>
            <td>

                <div>
                    <button type="button" class="btn btn-outline-info"> View</button>
                    <button type="button" class="btn btn-outline-warning"> Edit</button>
                    <button type="button" class="btn btn-outline-danger"> Delete</button>
                </div>

            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>